/* Coolors Exported Palette - coolors.co/293132-474044-4f5165-547aa5-50d8d7 */

/* HSL */
$color1: hsla(187%, 10%, 18%, 1);
$color2: hsla(326%, 5%, 26%, 1);
$color3: hsla(235%, 12%, 35%, 1);
$color4: hsla(212%, 33%, 49%, 1);
$color5: hsla(180%, 64%, 58%, 1);

/* RGB */
$color1: rgba(41, 49, 50, 1);
$color2: rgba(71, 64, 68, 1);
$color3: rgba(79, 81, 101, 1);
$color4: rgba(84, 122, 165, 1);/* background color */
$color5: rgba(80, 216, 215, 1);
/* -Titles fonts font-family: 'Archivo Black', sans-serif;
Other - font-family: 'Lora', serif; */

/* <link href="https://fonts.googleapis.com/css?family=Archivo+Black|Lora" rel="stylesheet"> FONT
Smaller font font-family: 'Lora', serif;
title font font-family: 'Archivo Black', sans-serif;*/