/* remove after confirming medium isn't needed */
/* @media (max-width: 420px) { */
@media (max-width: 500px) {

    #contact {
        position: relative;
        order: 3;
        color: #EBECEC;
    }
    #content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height: 100vh;
    }
    #extra {
        position: relative;
        order: 4;
    }
    #front-photo {
        display: none;
    }
    #info {
        position: relative;
        order: 1;
    }
    #photo {
        width: 35vh;

    }
    .photo-div {
        position: relative;
        order: 0;
        height: 35vh;
        width: 35vh;
        border-style: solid;
        border-radius: 50%;
        border-color: rgba(79, 81, 101, 1);
        border-width: 3px;
        overflow: hidden;
        background-color: rgba(79, 81, 101, 1);
        box-shadow: 3px 3px 10px rgba(80, 216, 215, 1);
        margin-top: 8vh;
        margin-bottom: 5px;
        font-size: 8vw;
    }

    /* Options (pages) */
    .popUp {
        display: flex;
        justify-content: center;
        width:25vw;
        min-width: 265px;
        /* height: 150px; */
        height: 8vh;
        /* background-color: #4F5165; */
        border-radius: 10px;
        box-shadow: 5px 5px 12px #474044;
        color: #293132;
        text-align: center;
        font-family: 'Lora', serif;
        font-size: 5vh;
        text-shadow: 1px 1px 1px rgba(80, 216, 215, 1);
        margin-bottom: 5px;
        padding-bottom: 5px;
        margin-top: 5px;
        /* padding: 5px; */
    }
    .popUp i {
        padding-top: 15px;
    }

    #pricing {
        position: relative;
        order: 2;
    }
    #title {
        font-family: 'Archivo Black', sans-serif;
        text-align: center;
        font-size: 65px;
        color: #293132;
        margin-bottom: 15px;
        margin-top: 15vh;
        text-shadow: 1px 1px 1px rgba(80, 216, 215, 1);
}
}