
@media (min-width: 850px) {
body {
    background-color:  #EBECEC;
    background-image: url("../../styled-keyboard-dark.png");
}
#container {
    /* display: flex; */
    width: 100vw;
    height: 100vh;
    /* background-image: url("../../img_1606.png"); */
    /* background-color: black; */
}
#contents {
    /* background-color: #547AA5; */
    width: 60vw;
    float: right;
    /* left: 40vw; */
    /* height: 100%; */
}
#home {
    display: flex;
    justify-content: flex-end; 
}
#title {
    background-color: #547AA5;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-self: flex-end;
    height: 15vh;
    width: 90%;
    /* font-size: 11vh; */
    
    list-style: none;
    box-shadow: 0px 3px 1px #4F5165,
                0px -1px 1px rgba(80, 216, 215, 1),
                3px 0px 1px #4F5165, 
                3px 3px 1px #4F5165,
                -1px 0px 1px rgba(80, 216, 215, 1);
    color: rgba(79, 81, 101, 1);
    text-shadow: 2px 2px 1px #EBECEC;
    padding: 0 10px 0 0;
    margin: 0 5px 0 0;
}
#title h1 {
    font-size: 10vw;  /* ************ */
    /* margin: 0 5px 0 0px; */
    padding: 10px 10px 0 0;
}
#nav a {
    background-color: #547AA5;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-self: flex-end;
    height: 15vh;
    width: 90%;
    /* font-size: 9vh; */
    font-size:7vw;  /* ************ */
    box-shadow: 0px 3px 1px #4F5165,
                0px -1px 1px rgba(80, 216, 215, 1),
                3px 0px 1px #4F5165, 
                3px 3px 1px #4F5165,
                -1px 0px 1px rgba(80, 216, 215, 1);
    color:  #EBECEC;
    padding: 0 10px 0 0;
    margin: 0 5px 0 0px;
    text-decoration: none; 
    text-shadow: 2px 2px 1px rgba(79, 81, 101, 1);
    /* font-family: 'Archivo Black', sans-serif; */
}
#nav {
    position: fixed;  /*testing*/
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 40vw;
    height: 100%;
    /* background-color: #547AA5; */
}

#nav a:hover {
    box-shadow: 0px 1px 1px #4F5165,
                1px 0px 1px #4F5165, 
                1px 1px 1px #4F5165;
    text-shadow: 3px 3px 1px rgba(71, 64, 68, 1);
}


.menu li {
    padding: 20px 10px 10px 10px;
    list-style: none; 
}
}

@media (min-width: 1200px) {
    #nav a {
        font-size: 10vh; 
    }
    #title h1 {
        font-size: 13vh;  /* ************ */
    }
}
